<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h1><%= title %></h1>
	<form method="post" action="/form">
		<label>发表新文章</label>
		<textarea name="text" cols="100" rows="10"></textarea>
		<input type="submit" value="发表">
	</form>
</body>
</html>